<div class="form-main-container">
    <div class="form-widget">
        <div class="form-widget__col col-right">
            <header>
                <p class="title">Login to your account.</p>
            </header>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-field">
                    <p class="form-field__label">Email</p>
                    <input class="form-field__input"
                        type="email"
                        formControlName="email"
                        placeholder="youremail@mail.com"
                        [class.form-field__input--error]="form.get('email')?.hasError('required') && submitClicked">
                </div>
                <div class="form-field">
                    <p class="form-field__label">Password</p>
                    <input class="form-field__input"
                        type="password"
                        formControlName="password"
                        placeholder="**********"
                        [class.form-field__input--error]="form.get('password')?.hasError('required') && submitClicked">
                </div>
                <div class="forgot-pass">
                    <a href="">Forgot password?</a>
                </div>
                <button class="form-submit-btn">Login</button>
            </form>
            <footer>
                <p class="form-query">Don't have an account? 
                    <a routerLink="/register">Register</a>
                </p>
            </footer>
        </div>
        <div class="form-widget__col col-image"></div>
    </div>
</div>