<div class="main">
    <div class="form-container">
        <form action="">
            <div class="title">Login to your account.</div>
            <div class="field">
                <p class="label">Email</p>
                <input type="text">
            </div>
            <div class="field">
                <p class="label">Password</p>
                <input type="text">
            </div>
            <div class="submit-btn">
                <button>Login</button>
            </div>
            <p class="query">Don't have an account yet? 
                <a routerLink="/register">Register</a>
            </p>
        </form>
        <div class="side-content"></div>
    </div>
</div>