<div class="container col-md-10">
    <h2 class="text-center mb-sm-5">Categories</h2>
    <div class="row">
        <div class="col-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="height: 100%;"><i class="pi pi-search"></i></span>
                </div>
                <input type="text" 
                    class="form-control" 
                    placeholder="Search..."
                    [(ngModel)]="searchText">
            </div>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-outline-success" (click)="createNew()" style="width: 100%;">
                Add New Category
            </button>
        </div>
    </div>
    <p-table #categoryTable [value]="categories | filter:searchText"
        class=""
        styleClass="p-datatable-sm p-datatable-striped" 
        responsiveLayout="scroll"
        scrollHeight="350px"
        style="width: 100%;">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 40%;">Type</th>
                <th style="width: 40%;">Name</th>
                <th class="text-center" style="width: 20%;">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>{{category.type}}</td>
                <td>{{category.name}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-outline-dark border-0" (click)="updateCategory(category)">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="categoryDialog"
    [style]="{width: '450px'}"
    [modal]="true"
    [closable]="false"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <h4 *ngIf="isNew" class="text-center">Add New Category</h4>
        <h4 *ngIf="isForUpdate" class="text-center">Update Category</h4>
        <form name="form" *ngIf="!isSuccessful" name="form" 
            (ngSubmit)="f.form.valid && onSubmit()" 
            #f="ngForm" 
            novalidate>
            <div class="form-group my-2">
                <select type="select" 
                    name="type" 
                    class="form-control form-select" 
                    [(ngModel)]="category.type" 
                    required 
                    #type="ngModel">
                    <option [ngValue]="null" disabled selected>Select Type</option>
                    <option value="Income">Income</option>
                    <option value="Expense">Expense</option>
                </select>
            </div>
            <div class="form-group my-2">
                <input type="text" 
                    class="form-control" 
                    name="name" 
                    placeholder="Name" 
                    [(ngModel)]="category.name" 
                    required 
                    #name="ngModel">
            </div>
            <div class="form-group my-2 text-center">
                <button type="submit" class="btn btn-primary mx-1">Submit</button>
                <button type="button" class="btn btn-light mx-1" (click)="close()">Cancel</button>
            </div>
        </form>
    </ng-template>
</p-dialog>