<div class="">
    <div class="row mb-4 mt-3 col-lg-8 offset-lg-2">
        <div class="col-6">
            <h2 class="">Category Breakdown</h2>
        </div>
        <div class="col-4">
            <p-calendar [(ngModel)]="rangeDates" 
                selectionMode="range" 
                [readonlyInput]="true" 
                inputId="range" 
                placeholder="Select Date"
                [showIcon]="true"
                (onSelect)="onSelect()">
            </p-calendar>
        </div>
        <div class="col-2">
            <button id="btn" type="button" class="btn btn-outline-primary" (click)="populateChart()" style="height: 100%;">
                Show Data
            </button>
        </div>
    </div>
    <div class="row col-lg-8 offset-lg-2 mt-4">
        <div class="col-6">
            <div style="display: block;">
                <canvas id="incomePieChart" width="400" height="400">{{incomePieChart}}</canvas>
            </div>
        </div>
        <div class="col-6">
            <div style="display: block;">
                <canvas id="expensePieChart" width="400" height="400">{{expensePieChart}}</canvas>
            </div>
        </div>
    </div>
</div>
