<div class="text-center">
    <h1 class="my-4">Category Breakdown</h1>
    <p-calendar [(ngModel)]="rangeDates" 
        selectionMode="range" 
        [readonlyInput]="true" 
        inputId="range" 
        placeholder="Select Date"
        [showIcon]="true"
        (onSelect)="onSelect()">
    </p-calendar>
    <div class="my-5"></div>
    <div class="row col-lg-6 offset-lg-3 my-4">
        <div class="col-6">
            <div style="display: block;">
                <canvas id="incomePieChart" width="400" height="400">{{incomePieChart}}</canvas>
            </div>
        </div>
        <div class="col-6">
            <div style="display: block;">
                <canvas id="expensePieChart" width="400" height="400">{{expensePieChart}}</canvas>
            </div>
        </div>
    </div>
    
</div>
