<div class="container">
    <h1>Manage your money the fresh way.</h1>
    <p>Reach your goals with personalized insights, custom budget and spend tracking.</p>
    <button type="button" class="btn btn-outline-primary mx-1"><a routerLink="/login">Sign-in</a></button>
    <button id="signup" type="button" class="btn btn-primary mx-1"><a routerLink="/register">Sign-up</a></button>
    <br>
    <div class="col-lg-4 offset-lg-4 pt-sm-4">
        <img src="../assets/images/budget-tracker.jpg" alt="" height="350" width="100%">
    </div>
</div>

