<div class="main">
    <div class="form-container">
        <div class="side-content">

        </div>
        <form>
            <div class="title">Create an account.</div>
            <div class="field full-name">
                <div class="first-name name">
                    <p class="label">First name</p>
                    <input type="text">
                </div>
                <div class="last-name name">
                    <p class="label">Last name</p>
                    <input type="text">
                </div>
            </div>
            <div class="field">
                <p class="label">Email</p>
                <input type="text">
            </div>
            <div class="field">
                <p class="label">Password</p>
                <input type="text">
            </div>
            <div class="field">
                <p class="label">Confirm password</p>
                <input type="text">
            </div>
            <div class="submit-btn">
                <button>Register</button>
            </div>
            <p class="query">Already have an account? 
                <a routerLink="/login">Login</a>
            </p>
        </form>
    </div>
</div>
