<div class="container py-md-2">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="text-center pb-4">Let's start with creating your secure account.</h2>
        <div class="">
            <form name="form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group my-2">
                    <input type="text" class="form-control" name="firstName" 
                        [(ngModel)]="form.firstName" 
                        placeholder="First Name" 
                        required 
                        #firstName="ngModel">
                    <div class="alert-danger" *ngIf="firstName.errors && f.submitted">
                        <div *ngIf="firstName.errors['required']">
                            <small class="p-invalid" style="color: red;">
                                First name is required!
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <input type="text" class="form-control" name="lastName" 
                        [(ngModel)]="form.lastName" 
                        placeholder="Last Name" 
                        required 
                        #lastName="ngModel">
                    <div class="alert-danger" *ngIf="lastName.errors && f.submitted">
                        <div *ngIf="lastName.errors['required']">
                            <small class="p-invalid" style="color: red;">
                                Last name is required!
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <input type="email" class="form-control" name="email" 
                        [(ngModel)]="form.email" 
                        placeholder="Email" 
                        required 
                        #email="ngModel">
                    <div class="alert-danger" *ngIf="email.errors && f.submitted">
                        <div *ngIf="email.errors['required']">
                            <small class="p-invalid" style="color: red;">
                                Email is required!
                            </small>
                        </div>
                        <div *ngIf="email.errors['email']">
                            <small class="p-invalid" style="color: red;">
                                Email must be a valid email address!
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <input type="password" class="form-control" name="password" 
                        placeholder="Password" 
                        [(ngModel)]="form.password" 
                        required 
                        minlength="6" 
                        #password="ngModel">
                    <div class="alert-danger" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors['required']">
                            <small class="p-invalid" style="color: red;">
                                Password is required!
                            </small>
                        </div>
                        <div *ngIf="password.errors['minlength']">
                            <small class="p-invalid" style="color: red;">
                                Password must be at least 6 characters!
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <input type="password" class="form-control" name="confirmPassword" 
                        placeholder="Confirm Password" 
                        [(ngModel)]="form.confirmPassword"  
                        required 
                        minlength="6" 
                        #confirmPassword="ngModel">
                    <div class="alert-danger" *ngIf="confirmPassword.errors && f.submitted">
                        <div *ngIf="confirmPassword.errors['required']">
                            <small class="p-invalid" style="color: red;">
                                Password is required!
                            </small>
                        </div>
                    </div>
                    <div class="alert-danger"  *ngIf="f.submitted && !passwordMatched">
                        <small class="p-invalid" style="color: red;">
                            Password does not match!
                        </small>
                    </div>
                </div>
                <div class="form-group my-4">
                    <button id="signup" type="submit" class="btn btn-primary btn-block">Sign-up</button>
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                </div>
            </form>
            <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
            </div>
        </div>
        <div class="text-center">
            <p>Already have an account? <a routerLink="/login">Sign-in</a></p>
        </div>
    </div>
</div>